<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>parking record</title>
<link rel="stylesheet" href="style.css">
<link rel="icon" href="/favicon.ico">
<script src='./script.js'></script>
</head>
<body>
    <div class="nose">
        <div class="div2">
            <form id='registration-form' style="display: block;" class="registration-form">
                <h1 class="title">Crear cita medica</h1>
                    <div class="input-group">

                        <label for='cc'>Numero de celuda</label>
                        <input name='cc' id='cc' placeholder="Ingresar numero de celuda" />

                        <br>
                        <br>

                        <label for='date'>Fecha de la cita</label>
                        <input type="date" id="dateInput" v-model="selectedDate" @change="onDateChange" />

                        <br>
                        <br>

                        <label for='authorisation'>Copia de la autorización</label>
                        <input id="authorisation" type="file" @change="onFileChange" accept="image/png, image/jpeg" />
                    
                    </div>
                <button class="submit-btn" type='submit'>SUBIR</button>
            </form>
        </div>
        <div class="div1">
            <form id='removal-form' style="display: block;" class="removal-form">
                <h1 class="title">Cancelar cita</h1>
                <div class="input-group">
                    <label for='license-plate'>Codigo cita</label>
                    <input name='license-plate' id='license-plate' placeholder="Ingrese codigo de la cita" />
                </div>
                <button class="submit-btn" type='submit'>Cancelar</button>
            </form>
        </div>
    </div>
    <div class="div3">
        <form
            id="transmilenio-form"
            style="display: block;"
            class="transmilenio-form"
        >
            <h1 class="title">Consutar citas</h1>
            <div class="rangeDate">
                <div class="startDate">
                    <label for='date'>Fecha inicial</label>
                    <input type="date" id="startDate" v-model="selectedDate" @change="onDateChange" />
                </div>
                <div class="endDate">
                    <label for='date'>Fecha final</label>
                    <input type="date" id="endDate" v-model="selectedDate" @change="onDateChange" />
                </div>
            </div>
            <br>
            <br>
            <div class="search">
                <button class="submit-btn" type="submit">BUSCAR</button>
            </div>
            <div id="cars-search" style="display: block;" class="list">
            <table>
                <thead>
                    <tr>
                        <th>id paciente</th>
                        <th>CC paciente</th>
                        <th>Fecha cita</th>
                        <th>Autorización</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                    <tbody id="search">
                
                    </tbody>
                </table>
            </div>
        </form>
    <script src='./script.js'></script>
</body>
</html>
